development:
  adapter: postgresql
  host: localhost
  username: postgres
  password: gkgk
  database: sd_ruby

test:
  adapter: postgresql
  host: localhost
  username: postgres
  password: gkgk
  database: sd_ruby